html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.bg-main {
    background: linear-gradient(75deg, #5b1b0a, #fce119);
}

footer {
    color: var(--white);
    padding: 8px 16px;
    font-size: 10px;
}